<?xml version='1.0' encoding='utf-8'?>
<!-- WICHTIG: Vor jedem Play-Store-Update die version erhoehen (z.B. 2.0.0 -> 2.0.1) -->
<widget id="de.tacticboard.app" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TacticBoard</name>
    <description>Offline-Taktiktafel für das Sport-Training mit animierbaren Spielzügen</description>
    <author email="info@taktiktafel.de" href="http://taktiktafel.de">Simon Mählmann</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="AndroidXEnabled" value="true" />

    <platform name="android">
        <icon src="image.png" />
    </platform>
</widget>
